body {
	background-image:url('images/square.png');
	margin:0;
}

.container {
	width:100%;
	height:1640px;
	margin-left:6%;
	max-width:1200px;
}

#header_box {
	background-color:#e0f3ec;
	width:100%;
	height:100px;
	opacity:1;
	margin-top:60px;
	border-top-style:solid;
	border-top-color:#6bc6aa;
	border-top-width:7px;
	border-bottom-style:solid;
	border-bottom-color:#6bc6aa;
	border-bottom-width:36px;
}

#header {
	width:100%;
	height:135px;
	margin-top:-143px;
	position:absolute;
}

#header a {
	text-indent:-9999px;
	background-image:url('images/logo_new_03.png');
	background-repeat:no-repeat;
	height:120px;
	margin-top:13px;
	display:block;
}

#contact {
	position:absolute;
	margin-left:875px;
	margin-top:-108px;
	max-width:1190px;
}

#contact a {
	margin-right:12px;
}

#contact img {
	width:40px;
	height:40px;
}

#hero {
	background-image:url('images/emma_workshop.png');
	text-indent:-9999px;
}

#text_hero h1 {
	font-family:'Roboto', sans-serif;
	font-weight:200;
	color:#333;
	position:absolute;
	margin-top:-30px;
	font-size:19.4px;
	color:white;
	margin-left:54px;
	width:320px;
}

#boxes {
	display:block;
}

#project_1 {
	padding-top:60px;
}

#project_2 {
	padding-top:60px;
}

#project_3 {
	padding-top:60px;
}

#project_4 {
	padding-top:400px;
}

#project_5 {
	padding-top:400px;
}

#project_6 {
	padding-top:400px;
}

#project_7 {
	padding-top:400px;
}

#project_8 {
	padding-top:400px;
}

#project_9 {
	padding-top:400px;
}

#project_10 {
	padding-top:400px;
}

#boxes div {
	float:left;
	margin-right:400px;
}

#boxes #project_1 a {
    background-image:url('images/kubmo_site.png');
}

#boxes #project_2 a {
    background-image:url('images/timeline.png');
}

#boxes #project_3 a {
    background-image:url('images/shh_square.png');
}

#boxes #project_4 a {
	background-image:url('images/LUV_square.png');
}

#boxes #project_5 a {
    background-image:url('images/UDR_landing.png');
}

#boxes #project_6 a {
	background-image:url('images/apartment_prototype');
}

#boxes #project_7 a {
    background-image:url('images/sxsw');
}

#boxes #project_8 a {
    background-image:url('images/livestrong_square');
}

#boxes #project_9 a {
	
    background-image:url('images/made_banner.png'); 
}

#boxes #project_10 a {
    background-image:url('images/sir_richards_square.png');
}

#boxes a {
	background:white;
	padding:170px;
	position:absolute;
	margin-top:0px;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    border:1px solid #B2B2B2;
    box-shadow: .2px .2px 6px #B2B2B2;
}

#boxes a:before {
	font-family:'Roboto', sans-serif;
	font-weight:100; 
	text-decoration:none;
	color:#6bc6aa;
	font-size:36px;
	margin-left:60px;
	margin-top: 300px;
	position:absolute;
	position: absolute;
	width: 194px;
	height: 200px;
	opacity:1;
	-webkit-transition: opacity .3s ease-in-out;
 	-moz-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

#boxes a:hover:before {
	opacity: 1;
}

#boxes a:after {
	opacity: 0;
	font-weight: bold;
	position: absolute;
	top:0px;
	left:0px;
	display: block;
	content: 'View Project';
	color: #fff;
	background: rgba(0,0,0,0.7);
	padding: 156px 104px;
	padding-right:110px;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	font-size:24px;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
	
	-webkit-transition: opacity .3s ease-in-out;
 	   -moz-transition: opacity .3s ease-in-out;
			transition: opacity .3s ease-in-out;
}

#boxes a:hover:after {
	opacity: 1;
}

#footer p {
	width:100%;
	height:82px;
	background-color:#6bc6aa;
	text-indent:-9999px;
	margin-bottom:-20px;
	border-top-style:solid;
	border-top-color:white;
	border-top-width:7px;

}

#footer img {
	position:absolute;
	margin-top:-50px;
	width:250px;
}

.footer_container {
	width:1200px;
	margin: 0 auto;
}

#contact_footer {
	position:absolute;
	margin-left:848px;
	margin-top:0px;
}

#contact_footer a {
	margin-right:65px;
}

#contact_footer img {
	width:40px;
	height:40px;
	margin-top:-40px;
	margin-left:12px;
}

#info {
	margin-left:60px;
}

.info_container {
	width:1200px;
	margin: 0 auto;
	height:1000px
	position:absolute;
	margin-top:-1580px;
	background-color:white;
	padding-top:60px;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    margin-bottom:60px;
    border:1px solid #B2B2B2;
    box-shadow: .2px .2px 6px #B2B2B2;
}

#info h1 {
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	margin-top:-10px;
	font-size:140%;
}

#info iframe {
	margin-top:40px;
	margin-bottom:60px;
	width:90%;
	border-top:1px solid #dddddd;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    border:1px solid #B2B2B2;	
}

#info img {
	margin-top:40px;
	margin-bottom:60px;
	width:1080px;
	border-top:1px solid #dddddd;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    border:1px solid #B2B2B2;
}

#info p {
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	width:1080px;
	font-size:100%;
	line-height:1.5;
}

#info h2 {
	font-family: 'Roboto', sans-serif;
	font-weight:200;
	font-size:100%;
	color:#6bc6aa;
}

#info a {
	text-decoration:none;
	color:#6bc6aa;
	font-weight:400;
}

@media screen and (max-width: 1200px) {

	.container {
		width:100%;
		margin-left:15%;
		height:2150px;
	}

	#header {
		height:175px;
		margin-top:-143px;
		position:absolute;
	}

	#contact {
		position:relative;
		margin-left:478px;
		margin-top:-104px;
	}

	#header a {
		text-indent:-9999px;
		background-image:url('images/top_logo_small_03.png');
		background-repeat:no-repeat;
		height:120px;
		margin-top:115px;
	}

	#text_hero h1 {
		margin-top:32px;
		margin-left:45px;
		font-size:18px;
	}

	.info_container {
		width:90%;
		margin: 0 auto;
		margin-top:-2000px;
	}

	#info img {
		width:94%;
	}

	#info p {
		width:94%;
	}

	#project_1 {
		padding-top:120px;
	}

	#project_2 {
		padding-top:120px;
	}

	#project_3 {
		margin-top:340px;
	}

	#project_4 {
		padding-top:-100px;
	}

	#project_5 {
		padding-top:400px;
	}

	#project_6 {
		padding-top:400px;
	}

	#contact_footer {
		margin-left:445px;
	}

	#footer img {
		margin-left:170px;
	}
}

@media screen and (max-width: 768px) {
/* Styles for all iphones, portrait and landscape */
	.container {
		width:100%;
		margin-left:25%;
		height:2515px;
	}

	#contact {
		position:relative;
		margin-left:40px;
		margin-top:-100px;
	}

	#text_hero h1 {
		margin-top:-3px;
		margin-left:45px;
		font-size:18px;
	}

	.info_container {
		width:90%;
		margin: 0 auto;
		margin-top:-1150px;
	}

	#info img {
		width:94%;
	}

	#info p {
		width:94%;
	}

	#header_box {
		height:160px;
	}

	#header a {
		margin-top:30px;
	}

	#project_1 {
		margin-top:30px;
	}

	#project_2 {
		margin-top:400px;
	}

	#contact_footer {
		margin-left:700px;
	}

	#footer img {
		margin-left:170px;
	}
}

@media screen and (max-width: 785px) {
	
	.container {
		width:100%;
		margin-left:28%;
		height:4160px;
	}

	#header_box {
		height:160px;
	}

	#header {
		height:175px;
		margin-top:-143px;
		position:absolute;
	}

	#contact {
		position:relative;
		margin-left:45px;
		margin-top:-95px;
	}

	#header a {
		margin-top:55px;
	}

	#text_hero h1 {
		margin-top:22px;
		margin-left:45px;
		font-size:18px;
	}

	#project_1 {
		margin-top:0px;
	}

	#project_2 {
		margin-top:300px;
	}

	#footer img {
		margin-left:28%;
	}

	#contact_footer {
		margin-left:1000px;
	}

	.info_container {
		width:90%;
		margin: 0 auto;
		margin-top:-4000px;
	}
}

@media screen and (max-width: 750px) {
	.info_container {
		width:90%;
		margin: 0 auto;
		margin-top:-2380px;
	}

	#info img {
		width:94%;
	}

	#info p {
		width:94%;
	}

	#project_1 {
		margin-top:0px;
	}

	#project_2 {
		margin-top:280px;
	}

	.info_container {
		width:90%;
		margin: 0 auto;
		margin-top:-4000px;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 320px) {
/* Styles for all iphones, portrait and landscape */
	.container {
		width:100%;
		margin-left:1%;
		height:2810px;
	}

	#header_box {
		height:160px;
		margin-top:0px;
	}

	#header {
		height:175px;
		margin-top:-143px;
		position:absolute;
	}

	#contact {
		position:relative;
		margin-left:35px;
		margin-top:-100px;
	}

	#header a {
		margin-top:60px;
		background-image:url('images/logo_small.png');
		margin-left:6%;
	}

	#text_hero h1 {
		margin-left:28px;
	}

	.info_container {
		width:90%;
		margin-top:-2650px;
	}

	#info img {
		width:94%;
		margin-left:-8%;
	}

	#info p {
		width:94%;
		margin-left:-8%;
	}

	#info h2 {
		width:94%;
		margin-left:-8%;
	}

	#info h1 {
		width:94%;
		margin-left:-8%;
	}

	#project_1 {
		margin-top:-20px;
	}

	#project_2 {
		margin-top:180px;
	}

	#project_3 {
		margin-top:240px;
	}

	#project_4 {
		margin-top:-100px;
	}

	#project_5 {
		margin-top:-100px;
	}

	#project_6 {
		margin-top:-100px;
	}

	#project_7 {
		margin-top:-100px;
	}

	#project_8 {
		margin-top:-100px;
	}

	#project_9 {
		margin-top:-100px;
	}

	#boxes #project_1 a {
    	background-image:url('images/kubmo_site_mobile.png');
	}

	#boxes #project_2 a {
	    background-image:url('images/timeline_mobile.png');
	}

	#boxes #project_3 a {
	    background-image:url('images/shh_square_mobile.png');
	}

	#boxes #project_4 a {
	    background-image:url('images/LUV_square_small.png');
	}

	#boxes #project_5 a {
	    background-image:url('images/UDR_landing_mobile.png');
	}

	#boxes #project_6 a {
		background-image:url('images/apartment_prototype_small.png');
	}

	#boxes #project_7 a {
	    background-image:url('images/sxsw_mobile.png');
	}

	#boxes #project_8 a {
	    background-image:url('images/livestrong_square_small.png');
	}

	#boxes #project_9 a {
	    background-image:url('images/made_banner_mobile.png');
	}

	#boxes #project_10 a {
	    background-image:url('images/sir_richards_square_small.png');
	}

	#footer img {
		margin-left:6%;
	}

	#boxes div {
		float:left;
		margin-right:280px;
		margin-left:10%;
	}

	#boxes a {
		background:white;
		padding:125px;
		position:absolute;
	}

	#boxes a:before {
		font-size:20px;
		margin-left:60px;
		margin-top: 300px;
		width: 194px;
		height: 200px;
	}

	#boxes a:hover:before {
		opacity: 1;
	}

	#boxes a:after {
		content: 'View Project';
		padding: 100px 80px;
		padding-right:80px;
		font-size:18px;
	}

}





        













